{
  "extends": ["airbnb", "airbnb/hooks"],
  "env": { "browser": true },
  "parser": "babel-eslint",

  "rules": {
    "no-param-reassign": ["error", { "props": false }],
    "no-underscore-dangle": "off",
    "object-curly-newline": ["error", { "consistent": true }],
    "import/no-webpack-loader-syntax": "off",
    "import/extensions": "off",
    "import/order": "off",
    "import/newline-after-import": "off",
    "react/static-property-placement": "off",
    "react/state-in-constructor": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "react/no-danger": "off",
    "react/jsx-fragments": "off",
    "react/jsx-props-no-spreading": "off",
    "no-multiple-empty-lines": ["error", { "max": 2, "maxBOF": 0, "maxEOF": 0 }]
  },
  "settings": {
    "import/resolver": { "node": { "moduleDirectory": ["node_modules", "src/"] } }
  }
}
