@import '../../styles/colors';


.addAdminForm {
    background: white;
    margin: auto;
    padding: 3em;

    .closeButton {
        height: 25px;
        width: 25px;
        float: right;
    }
    
    .cancelButton {
        background-color: rgb(58, 56, 56, 0.5);
        border-radius: 2px;
        border:none ;
        font-weight: bold;
        color: white;
    }
    .saveButton {
        background-color: #DC9766;
        border-radius: 2px;
        border:none;
        font-weight: bold;
        color: white;
    }

    input {
        width: 100%;
        margin-bottom: 5px;
        margin-top: 5px;
        padding: 4px;
    }
    
    h4 {
        text-align: center;
    }
    
    button {
        float: right;
        padding: 8px 30px;
        margin: 5px;
    }
}


