asgiref==3.2.10
certifi==2020.11.8
chardet==3.0.4
cloudinary==1.23.0
cryptography~=2.8
django==3.0.3
django-filter==2.4.0
djangorestframework==3.12.1
django-cors-headers~=3.1.1
drf-jwt~=1.13.3
idna==2.10
importlib-metadata==2.0.0
Markdown==3.2.2
psycopg2==2.8.6
pyjwt~=1.7.1
python-dotenv==0.15.0
pytz==2020.1
requests==2.25.0
six==1.15.0
sqlparse==0.3.1
urllib3==1.26.2
zipp==3.3.0
