@import 'styles/colors';
@import 'styles/mixins';

.base {
  @include page-padding;

  text-align: center;
  display: flex;
  justify-content: center;

  .vertical {
    display: flex;
    flex-direction: column;
    align-content: stretch;
  }

  h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: .5rem;
  }

  .subhead {
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
    margin: 0 auto 1em;

    a {
      color: saturate($orange, 20%);
      text-decoration: none;
      font-weight: 600;
    }
  }

  .row {
    display: flex;
    margin-bottom: .65em;
    align-items: flex-end;
    line-height: 1;

    .line {
      flex: 1;
      height: 10px;
      margin: 0 .35em;
      $color: rgba(0, 0, 0, 0.25);
      background: radial-gradient(ellipse at center, #{$color} 0%, #{$color} 25%, transparent 25%);
      background-size: 10px 10px;
      background-repeat: repeat-x;
    }

    .name {
      font-weight: 600;
      color: inherit;
      text-decoration: none;
    }
  }
}
