@import 'styles/colors';

@mixin big-tagline() {
    margin: 1em 7vw;
    width: 86vw;
    width: min(86vw, 70ch);
    margin: 1em 7vw;
    margin: 1em calc((100vw - min(86vw, 70ch)) / 2);
    font-size: 1.1em;
}

.base {
    display: flex;
    flex-direction: column;
}

.base section {
    width: 100%;
    padding-top: 4rem;
    padding-bottom: 4rem;

    h4 {
        text-align: center;
        font-size: 1.5rem;
        margin: 0 0 .8em;
        padding: 0 3ch;
    }
}

a.button {
    display: inline-block;
    text-decoration: none;
    margin-top: 1em;
    background-color: #DC9766;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    font-size: inherit;
    color: black;
    padding: .85em 1.8em;
}

.searchBanner {
    background: #FFF1E8;

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;

    .wordBubble svg {
        height: auto;
        width: 28rem;
        margin-bottom: 2rem;
        max-width: calc(100vw - 5ch);
    }

    .peopleComputer {
        margin: 2rem 3rem 2rem 2rem;
        width: 16rem;
    }
}

.mission {
    text-align: center;

    p {
        font-style: italic;
        @include big-tagline;
        word-break: keep-all;
    }

    .fists {
        width: 16rem;
    }
}


.donate {
    background: white;
    text-align: center;

    p { @include big-tagline; }
}

.contact {
    background: white;
    text-align: center;

    .signup {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: row;

        .personComputer {
            width: 16rem;
            margin: 2rem 3rem 2rem 2rem;
        }

        .signupBtn {
            width: 28rem;
        }
    }
}
