@import 'styles/colors';

.base {
  background-color: $dark-blue;
  color: white;
  font-size: .8rem;
  padding: 2.5rem 1rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.columns {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
  margin-bottom: 3rem;

  & > * {
    min-width: 200px;
    margin-bottom: 1em;
  }

  p {
    margin-top: 0;
    margin-bottom: .65em;

    a {
      color: inherit;
    }
  }
}

.phoneNumber {
  color: $orange;
}

.address {
  color: $yellow;
  white-space: nowrap;
}

.icons {
  margin-top: 1em;

  a:not(:last-child) {
    margin-right: 10px;
  }

  svg {
    height: 35px;
    width: 35px;
  }
}

.logo {
  width: 200px;
}
