@import '../../styles/colors';

// To Do: fix global CSS error

.base {
  height: 100%;
  margin: 2rem;
  // width: 100%;

  .buttonContainer {
    display: inline-block;
    width: 100%;
  }

  .addAdmin {
    float: right;
    background-color: #DC9766;
    padding: 15px;
    border: #DC9766;
    border-radius: 15px;
    margin-right: 2em;

    .circleIcon {
      vertical-align: middle;
      height: 30px;
      width: 30px;
    }

    .adminList {
      clear: both;
    }

    .addAdminButton
    {
      background-color: #DC9766;
      border: #DC9766;
      font-weight: bold;
    }
    .addAdminButton:focus
    {
      outline: none;
    }

      
  }

  input {
    width: 48%;
    border: none;
    font-size: 75%;
    padding-left: 15px;
  }

  input:focus {
    outline: none;
  }

  .adminUser {
    margin: 4px;
    border: 1px solid rgb(58, 56, 56, 0.5);
    box-sizing: border-box;
    border-radius: 3px;
    margin-right: 2em;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .verticalBreak {
    display: inline;
    width: 20px;
    height: 0px;
    border: 1px solid rgb(58, 56, 56, 0.4);
    transform: rotate(90deg);
  }

}
