@import '../../styles/mixins';

.base {
  @include page-padding;

  display: flex;

  flex-flow: row wrap;
}

.logo {
  background-color: #C4C4C4;
  background-size: cover;
  background-position: center;
  max-width: 100%;
  width: 250px;
  height: 250px;
  border-radius: 6px;
  margin-right: 2em;
}

.paragraph {
  font-size: 1rem;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.basic {
  padding-left: 20px;
  h1, h2 {
  margin: 0;
  }
}

.logistics {
  padding-top: 50px;
  padding-left: 20px;
  font-size: 25px;
  p {
    margin: 0;
  }
}

.eventcontainer {
  padding-top: 30px;
  p, h2 {
    margin: 0;
  }
}

.mainColumns {
  display: flex;
}

.rightColumn {

  & > :not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

@media all and (min-width: 600px) {
  .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
  .main { flex: 3 0px; order: 2; }
  .backColumn { order: 1; }
  .rightColumn { order: 3; }
  .footer { order: 4; }
}

.buttongroup {
  display: flex;
}

.rightbutton {
  min-width: 140px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: none;
  border: 0;
  font-size: .85em;
  text-decoration: underline;
  padding: 1em;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 1em;
  }

  border: 1px solid rgba(0, 0, 0, 0.45);
  border-radius: 5px;

  svg {
    height: 1.75em;
    width: auto;
    margin-bottom: .5em;
  }

  img {
    height: 1.75em;
    width: auto;
    margin-bottom: .5em;
  }
}

.moreinfo {
  float: left;
}

.contact{
  flex-basis: 40%;
  background: none;
  border: 0;
  font-size: 1rem;
  padding: 1em;
  color: #3A3838;

  &:not(:last-child) {
    margin-right: 1em;
  }

  &:first-child {
    width: 100%;
  }

  &:not(:first-child) {
    align-items: center;
    flex: 1;
    width: 35%;
  }

  &:last-child{
    width: 100%;
  }

  border: 1px solid rgba(0, 0, 0, 0.45);
  border-radius: 5px;

  svg {
    height: 1.75em;
    width: auto;
    margin-bottom: .5em;
  }

  h3 {
    font-size: inherit;
    text-decoration: underline;
    white-space: nowrap;
    margin: 0;
    margin-bottom: .5em;
  }

  .address {
    margin: 0;
  }

  .contactDetails {
    margin: 0;
    margin-top: .5em;

    a {
      color: inherit;
      text-decoration: none;
      font-weight: 600;
    }
  }
}
