@import '../../styles/colors';

.base {
  background: $white;
  padding: 30px 24px;
  border-radius: 10px;
  box-shadow: 0 5px 35px -10px rgba(0, 0, 0, 0.25);
}

.error {
  color: $red;

  &.hidden {
    display: none;
  }
}
