.leftside {
  background-color: #C4C4C4;
  color: #fff;
  padding: 30px;
  max-width: 100%;
  width: 200px;
  border-radius: 6px;
}

.leftside a {
  display: inline-block;
  font-size: 12px;
  opacity: 0.6;
  margin-top: 30px;
  text-decoration: none;
}

.rightside {
   padding: 30px;
   position: relative;
   width: 100%;
   line-height: 5px;
}

.rightside p {
  font-weight: 400;
  display: flex;
  align-items: center;
  margin: 0;
  margin-top: .5em;

  svg {
    width: 1.15em;
    height: 1.15em;
    margin-right: .5em;
  }
}

.ResourceInfo {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 1.5px 10px -1px transparentize(#315BF1, 0.75),
              0 6px 0 0 #4E5CD5;
  display: flex;
  max-width: 100%;
  margin: 20px;
  overflow: hidden;
  width: 700px;

}

.ResourceInfo h6 {
  opacity: 0.6;
  margin: 0;
  margin-bottom: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: .8rem;
}
