.styledburger{
    width: 2rem;
    height: 2rem;
    position: fixed;
    top: 15px;
    right: 20px;
    z-index: 20;
    display: none;
    padding-left: 200px;
    @media (max-width: 900px) {
        display: flex;
        justify-content: space-around;
        flex-flow: column nowrap;

    }

    div{
        width: 2rem;
        height: 0.25rem;
        background-color: orange;
        border-radius: 10px;

       
}

}